p#pogrubienie_berg{
    font-size: 29px;
    color: #945dd4;   
}
p#pochylona_berg{
    font-size: 34pt;
    color: #f8c170;
}
p#index_gorny_berg{
    font-size: 0.9cm;
    color: #a88f20;
}
p#index_dolny_berg{
    font-size: 1.3cm;
    color: #44f3e8;
}
p#mono_berg{
    font-size: 39px;
    color: #28DF70;
}
p#powiekszenie_berg{
    color: #623fa2;
}
p#pomniejszenie_berg{
    color: #c6a33e;
}