/* text-decoration: none; - tekst bez dekoracji
 text-decoration: underline; - tekst z podkreśleniem */

A 
{
font-size: 18pt;
text-decoration: none;
}
A:link 
{
color: blue;
}
A:visited 
{
color: green;
}
A:hover 
{
color: red;
text-decoration: underline;
}
